/* ==[ Fonts ]=============================================================== */
@font-face {
  font-family: 'MapIcons';
  src:font-url('map-icons.eot');
  src:font-url('map-icons.eot?#iefix') format('embedded-opentype'),
    font-url('map-icons.svg#map-icons') format('svg'),
    font-url('map-icons.woff') format('woff'),
    font-url('map-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* ==[ END: Fonts ]========================================================== */
