<div class="journey col-xs-12">
    <h1>Journeys</h1>
    <p class="lead">List of all Journeys for all users</p>
    <p><%= link_to 'Add Journey', new_journey_path, class: "btn btn-success" %></p>
</div>

<!--<div id="map" style="width: 100%; height: 300px;"></div> -->
<div id="map"></div>

<div class="journey_list">
<% @journeys.each do |journey| %>
    <%= render partial: 'layouts/journey_list_item', locals: {journey: journey} %>
<% end %>
</div>

