<div class="journey">
    <h2 class="title journey_title"><%= link_to journey.title, journey %></h2>
    <p><%= journey.description.html_safe %></p>
    <ul>
        <% journey.entries.each do |entry| %>
            <li><%= link_to entry.title, journey_entry_path(journey, entry) %></li>
        <% end %>
    </ul>
    <% if journey.entries.count < 0 %>
        <p>There are currently <strong>no entries</strong> for this Journey.</p>
    <% end  %>
</div>
